* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: serif;
  background-color: #008080;
  padding: 1;
}

.container {
  background-color: #209B87;
  width: 66vw;
  height: 80vh;
  margin: auto auto;
}