* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: serif;
  background-color: #008080;
  padding: 1;
}

.container {
  background-color: #209B87;
  display: flex;
  width: 70vw;
  height: 100vh;
  padding: 1px;
  margin: 0 auto;
}

.inner {
  background-color: #80CF7F; 
  width: 45vw;
  height: 80vh;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 3rem;
  padding: 40px 0;
}